body {
    font-family: 'Arial', sans-serif;
    color: black;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

#logo1 {
    width: 120px; /* Adjust the size of the logo to make it larger */
    margin-left: 20px; /* Add margin so it is not cut off */
}

#logo2 {
    width: 100%; /* Adjust the size of the logo to make it very large */
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

#buttons {
    display: flex;
    gap: 20px;
}

.button, .home-button {
    background-color: #D3CCE3;
    color: black;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

#description {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.carousel {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
}

.carousel-item {
    text-align: center;
}

.carousel img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

